.category__alert--success {
    padding: 10px 30px;
    border-color: #badbcc;
    background-color: #d1e7dd;
    color: #0f5132;
}

.category__alert--danger {
    padding: 10px 0;
    border-color: #f5c2c7;
    background-color: #f8d7da;
    color: #842029;
}

.category__alert--danger ul {
    margin: 0;
}

/* Content本体 */
.category__content {
    margin: 0 auto;
    padding: 60px 15px;
    max-width: 1230px;
}

/* create-form */
.create-form{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.create-form__item{
    display: flex;
    width: 70%;
}

.create-form__item-input{
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.create-form__button{
    width: 20%;
}

.create-form__button-submit{
    padding: 10px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
}

.categories-table {
    margin: 30px auto;
    width: 70%;
    text-align: left;
}

.categories-table__inner {
    width: 100%;
}

.categories-table__row {
    border-bottom: 1px solid #ddd;
}

.categories-table__header {
    padding: 12px;
    text-align: left;
    font-weight: bold;
    display: flex;
}

.categories-table__header-span {
    margin-right: 40%;
}

.categories-table__item:first-of-type {
    padding: 12px;
    width: 90%;
}

.update-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.update-form__item {
    width: 80%;
    line-height: 50%;
}

.update-form__item-input {
    width: 100%;
    outline: none;
    border: none;
}

.update-form__item-select {
    padding: 5px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.update-form__button {
    width: 50px;
}

.update-form__button-submit {
    padding: 5px;
    width: 100%;
    border: none;
    border-radius: 3px;
    background: #0000ff;
    color: #fff;
    cursor: pointer;
}

.delete-form__button {
    width: 50px;
}

.delete-form__button-submit {
    padding: 5px;
    width: 100%;
    border: none;
    border-radius: 3px;
    background: #ff0000;
    color: #fff;
    cursor: pointer;
}